.link {
  text-decoration: none;
  color: #343a40;
}

.toolbar {
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 7px;
  position: relative;
}

.logo_img {
  position: absolute;
  top: -8px;
  right: -5px;
  font-size: 10px;
}

.navbar {
  background-color: #3f37c9;
}